{%load static%}
<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
{% block content %}
    <div class="narrow-form">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Login</button>
      <input type="text" id="" name="Username">
      <input type="text" id="" name="Password">
    </form>
{% endblock content %}
        </main>
    </body>
</html>
    