{%load static%}
<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
            {% block content %}
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                    <input type="text" id="" name="Username">
                    <input type="text" id="" name="Password">
                  </form>
            {% endblock content %}
        </main>
    </body>
</html>