{% load static %}
<!doctype html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <!-- {% block content %} -->
            <h1>{{project.name}}</h1>
            <p>{{project.description}}</p>
            <h2>Task</h2>

            {% if project.tasks.all %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                <!-- <tbody> -->
                {% for task in project.tasks.all %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.assignee}}</td>
                    <td>{{task.start_date}}</td>
                    <td>{{task.due_date}}</td>
                    <td>{{task.is_completed}}</td>
                </tr>
                {% endfor %}
                <!-- </tbody>    -->
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}

            <!-- {% endblock content%} -->
        </div>
    </main>

</body>

</html>