{% load static %}
<!doctype html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>My Projects</h1>

            {% if project_list %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                {% for project in project_list %}
                <tr>
                    <td><a href="{% url 'show_project' project.pk %}"> {{project.name}}</a> </td>
                    <td>{{ project.tasks.all | length}}</td>
                </tr>
                {% endfor %}
            </table>

            {% else %}
            <p>You are not assigned to any projects</p>


            {% endif %}


        </div>

    </main>

</body>

</html>